<div>


    <div class="form-group">
        <label>Subjects</label>
        <select class="form-control" [(ngModel)]="selectedSub" (change)="getCatList()">
            <option *ngFor="let sub of subs" [value]="sub.key" >{{sub.name}}</option>
        </select>
    </div>


    <label>New Category</label>
    <div class="row">
        <div class="col-xl-9 text-xs-center">
            <input #newCat class="form-control">
        </div>
        <div class="col-xl-3 text-xs-center">
            <button type="button" style="height: 100%; width: 100px;" class="btn btn-sm btn-primary" (click)="addCat(newCat.value)" >Add</button>
        </div>
    </div>
        
        
    <br>
    <div class="card-header">
        Category List
    </div>
    <div class="card-block table-responsive">
        <table class="table">
            <thead>
            <tr>
                <th width="20%">Num</th>
                <th>Name</th>
                <th width="10%"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let cat of cats">
                <th scope="row" width="20%">{{cat.num}}</th>
                <td (click)="selectCat(cat)" style="cursor: pointer" >{{cat.name}}</td>
                <td width="10%">
                    <button type="button" class="btn btn-sm btn-danger" (click)="removeCat(cat.key)" >
                        <i class="fa fa-fw fa-trash-o"></i>
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
